@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

body {
    background-color: rgb(241, 241, 241);
    height: 100%;
}

a {
    text-decoration: none;
    color: black
}

.content {
    margin: 1em;
}

.portfolio-container > div {
    padding: 3em 0;
}

.top-nav > ul {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
}

div h3 {
    padding-bottom: 20px;
}

.site-header {
    text-align: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technical-skills-section > h3 {
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.skills-container > div > p {
    text-align: center;
    font-size: 16;
    font-weight: bold;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.skills > div {
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid rgb(83, 161, 212);
}
.projects-section {
    text-align: center;
}

.projects-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    
}

.project img{
    position: relative;
    width: 125px;
}

.project > p {
    display: none;
    position: absolute;
    bottom: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.project:hover {
    box-shadow: inset 0px 0px 9px 1px rgb(218, 218, 218);
    border-color: rgb(131, 131, 131);
    cursor: pointer;
}

@keyframes projectfloat {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-30px);
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.project:hover > img{
    animation-name: projectfloat;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.project:hover > p {
    animation-name: fadein;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    display: block
}

.wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    visibility: hidden;
    z-index: 10;
    background-color:  rgba(126, 126, 126, 0.4);
    
}

.wrapper.active {
    visibility: visible;
    display: block
}

.demo-gif {
    min-width: 250px;
    height: auto;
}

.project-description {
    display: none;
    position: fixed;
    min-height: 60vh;
    min-width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  rgb(241, 241, 241);
    padding: 2em;
    border-radius: 20px;
    cursor: default;
}

.project-description.active {
    display: block;
    z-index: 50;
}

.project-description-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em 0;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.project-button {
    padding: 0.8em;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}

.project-button:hover {
    scale: 103%;
    cursor: pointer;
}